<h1> Beegle </h1>
<input type='text' id='caixa_pesquisa'></input>
<button onclick=clique();>Go</button>
<p id="resultado"></p>

<script>
	function clique(){
	var termo = document.getElementById("caixa_pesquisa").value;
	document.getElementById("resultado").innerHTML = termo;

	}
</script>
